<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuthedHeader</title>
    <link rel="stylesheet" href="../../assets/styles/reset.css">
    <link rel="stylesheet" href="./authedheader.css">
</head>
<body>
    <header class="authedheader">
        <p class="authedheader-light">Light</p>
        <nav class="authedheader-nav">
            <ul class="authedheader-nav__menu">
                <li class="menu-item">Home</li>
                <li class="menu-item">Company</li>
                <li class="menu-item">Features</li>
            </ul>
            <div class="authedheader-nav__user-menu">
                <img src="../../assets/images/AuthedHeader/user.png" alt="user" class="authedheader-nav__user">
                <ul class="nav__user-menu">
                    <li class="nav__user-item">
                        User menu
                        <img src="../../assets/icons/chevron-up.svg" alt="up">
                    </li>
                    <li class="nav__user-item">Recently Added</li>
                    <li class="nav__user-item">Card management</li>
                    <li class="nav__user-item">Log out</li>
                </ul>
            </div>
        
        
        </nav>
    </header>

</body>
</html>