.body {
    background-color: #000;
    color: #fff;
}

.addingcard__bg {
    position: relative;
    margin: 20px auto;
    max-width: 842px;
    width: 100%;
}
.addingcard__bg-img {
    position: absolute;
    left:50%;
    transform:translate(-50%);
    z-index: -1;
}
.addingcard__bg-name {
    padding: 30px 41px 0 41px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.addingcard{
    margin: 0 auto;
    padding: 48px 147px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.addingcard__name {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}
.addingcard__form {
    max-width: 560px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.addingcard__input {
    margin-top: 16px;
    padding: 18px 32px;
    max-width: 560px;
    width: 100%;
    background-color: rgba(0,0,0, 0);
    border: 3px solid #C8D1E6;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}
.addingcard__button {
    margin-top: 16px;
    padding: 12px 130px;
    max-width: 320px;
    background-color: #9F62BB;
    border-radius: 5px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.addingcard__ellipse {
    position: absolute;
    left: 0;
    bottom: 0;
}